<div class="container">
  <div id="welcome">
    <h1>Hi, my name is Emily Watkins</h1>
    <h2>I'm a full stack developer with particular interest in backend development</h2>
    <h2>check out some of the projects i'm proud of <%= link_to "projects", posts_path %></h2>
    <h2>email me</h2>
  </div>
</div>

<div class="footer">
  <%= link_to "admin", new_user_session_path %>
</div>
