<div class="container">
  <div id="welcome">
    <h1>hi, my name is emily watkins</h1>
    <h2>i'm a full stack developer with particular interest in backend development</h2>
    <h2>check out some of the projects i'm proud of - <%= link_to "projects page", posts_path %></h2>
    <h2>email me - emily.e.dolliver@gmail.com</h2>
  </div>
</div>


<div id="outer-container">
  <div id="about-me">
    <h2>about me</h2>
      <h4>finding creative ways to solve a problem</h4>
      <li>while i was a music teacher, i had very different students with very similar problems. i  tailored my approach to each student on a weekly basis with a single end goal in mind</li>
      <h4>being creative within rigid structure</h4>
      <li>working with very inflexible reporting tools, i have set up processes to minimize manual querying and maximize value of output</li>
      <h4>creating process with built-in checks and balances</h4>
      <li>in a prior position, i created a process for tracking returned mail in a way that it was quick data entry and the document was set up in a way that it was easy to run automated checks to account for user error and alert when mail had been returned enough times to warrant updating the record.</li>
  </div>
</div>


<div class="footer">
  <%= link_to "admin", new_user_session_path %>
</div>
