<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'posts', posts_path %></li>
        <li><%= link_to 'sign out', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>
